<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty name="active_profile" source="spring.profiles.active" />
  <timestamp key="bySecond" datePattern="yyyyMMdd"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %m%n</pattern>
    </encoder>
  </appender>
  <appender name="mainAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%X{trackingToken}] [%X{ip}] [%X{LmNumber}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{service}] [%X{hostname}] [%thread] %-5level %logger{36} - %m%n</pattern>
    </encoder>
  </appender>
  <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>file-log/${active_profile}/lfb-authentication-svc/log_${hostname}.txt</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>file-log/${active_profile}/lfb-authentication-svc/log%d{yyyyMMdd}_${hostname}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%X{trackingToken}] [%X{ip}] [%X{LmNumber}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{service}] [%X{hostname}] [%thread] %-5level %logger{36} - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="com.loyalty" additivity="false">
  	<appender-ref ref="mainAppender"/>
    <appender-ref ref="fileAppender"/> 
  </logger>
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="fileAppender"/>
  </root>
</configuration>